                     /* letras brancas e plano de fundo preto*/
body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

                    /* comando do menu*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

                    /* cor de letra do menu do menu*/
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

                     /* comando da minha imagem*/
header img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #5BBE42;
}

.center {
    text-align: center;
}

                      /* cor da palavra paulo*/
h1 {
    color: #5bbe42;
}

                     /*fonte do links imagem*/
footer img {
    width: 40px;
    height: 40px;
}
                      /*fonte para centralizar os links*/
footer {
    display: flex;
    justify-content: center;
}
                    /*fonte das letras dos links*/
footer a {
    margin: 20px;
    text-align: center;
}
                    /*fonte do paragrafo p*/
                    
footer p {
    margin-top: 2px;
}
                         /*fonte do container*/
.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #5BBE42;
}
                /*fonte das formas do gmail*/
.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}